body {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    overflow: hidden;
}

#landing-page {
    background: url("/images/bg3.jpg") no-repeat;
    background-size: 100% 86rem;
    height: 100vh;
    width: 100vw;
}

h2 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: #f5f2ea;
    text-align: center;
}

.countdown {
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.countdown li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem;
    color: #33436c;
    background: #f3f0f0c7;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.countdown li span {
    color: #cf9b0c;
    text-align: center;
    font-family: 'Nova Flat', cursive;
    font-size: 10rem;
}

h1 {
    margin-top: 260px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 8rem;
    color: transparent;
    text-align: center;
    animation: colored 5s linear infinite;
}

@keyframes colored {
    0%
    {
        color: rgba(207, 155, 12, 0.808);
        filter: blur(1px);
    }
    20%
    {
        color:  rgba(235, 230, 242, 0.76);
        filter: blur(1px);
    }

    40% 
    {
        color: rgba(164, 135, 163, 0.699);
        filter: blur(1px);
    }

    60% 
    {
        color: rgba(207, 155, 12, 0.514);
        filter: blur(1px);
    }

    80% 
    {
        color:  rgba(251, 189, 156, 0.664);
        filter: blur(1px);
    }
    100%
    {
        color: rgba(207, 155, 12, 0.205);
        filter: blur(1px);
    }
  
}

